@tailwind preflight;
@tailwind components;
@tailwind utilities;

/* Custom checkboxes */
.custom-control {
    position: relative;
    padding-left: 1.5rem;
}
.custom-control__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control__label {
    position: relative;
}
.custom-control__label::before {
    position: absolute;
    top: 0;
    left: -1.25rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    user-select: none;
    background-color: #dee2e6;
    transition: background-color .25s ease-in-out;
}
.custom-control__label::after {
    position: absolute;
    top: 0;
    left: -1.25rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-control__checkbox:checked ~ .custom-control__label::before {
    background-color: #4dc0b5;
    color: #fff;
}
.custom-control__checkbox:checked ~ .custom-control__label::after {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
}
.custom-control__checkbox:focus ~ .custom-control__label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(77, 192, 181, .25);
}